/* Общие стили для навигации */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    padding: 0 20px;
   
  
    height: 60px;
  }
  
  /* Левые иконки */
  .left-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Ссылки меню */
  .menu-links {
    display: flex;
    gap: 20px;
  }
  
  .menu-links a {
    color: rgb(15, 15, 15);
    text-decoration: none;
  }
  
  /* Правые кнопки */
  .right-buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Стили для бургер-иконки */
  .burger-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .burger-icon .line {
    width: 25px;
    height: 3px;
    background-color: white;
  }
  
  .open {
    display: flex;
  }
  
  /* Мобильные стили */
  @media (max-width: 768px) {
    .menu-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
    }
  
    .open {
      display: flex;
    }
  
    .burger-icon {
      display: flex;
    }
  
    .left-icons {
      display: none;
    }
  }
  