/* make the customizations */
$theme-colors: (
    'primary': #000000,
    'info': tomato,
    'danger': teal
);

$navbar-light-color: #000000;
$navbar-light-hover-color: #5f82eb;
$nav-link-font-size: 1.5rem; 
$nav-link-font-weight: 700; 

$form-select-border-width: 0;
$form-select-border-color: transparent;
$form-select-border-radius: 0;
$form-select-focus-border-color:  transparent;
$form-select-focus-width: 0;
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

.blue-bg {
    background-color: #95c2d7;
    color: white;

}



.logo-header {
    width: 30%;
}

@media (max-width: 992px) and (min-width: 769px) {
    .logo-header {
      width: 35%; /* Ширина для средних экранов */
    }
  }

@media (max-width: 768px) {
    /* Ширина для мобильных устройств */
    .logo-header {
      width: 50%;
    }
  }

.logo-footer {
    width: 25%;
}

@media (max-width: 992px) and (min-width: 769px) {
    .logo-footer {
      width: 35%; /* Ширина для средних экранов */
    }
  }

@media (max-width: 768px) {
    /* Ширина для мобильных устройств */
    .logo-footer {
      width: 50%;
    }
  }

.image-container {
    position: relative;
    width: 100%; /* По умолчанию ширина контейнера 100% */
    overflow: hidden; /* Обрезаем всё, что выходит за пределы контейнера */
  }
  
  .image-to-crop {
    width: 100%; /* Изображение растягивается на всю ширину контейнера */
    height: auto; /* Высота изменяется пропорционально ширине */
    object-fit: cover; /* Обрезаем изображение по ширине, если оно больше контейнера */
    object-position: left; /* Обрезаем изображение справа, смещая его влево */
  }


  .custom-button {
    display: flex;
    align-items: center;
    background-color: #ff961c;
    color: #000000;
    border-color: #ff961c;
    border-style: none;
    border-radius: 50px;
    padding: 5px 20px; 
    font-size: small;
    
}

.round-button {
    padding: 5px 10px; /* Пространство внутри кнопки */
}

.profile-text {
    margin-left: 4px; /* Отступ между иконкой и текстом */
    font-size: 16px;
}



.custom-button:hover {
    color: #000000;
    background-color: #e78936; /* Цвет при наведении */
    border-color: #e78936;
}

.custom-caption-bg {
    background-color: rgba(149, 194, 215, 0.596);
    padding: 20px;
    border-radius: 10px;
  }

.custom-link{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.card-recipe{
    background-color: #a8a6a6;
}

.card-ingredient{
    background-color: #94c4d8;
}

.cart-button {
    background: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-style: none;
    transition: background 0.3s ease; /* Добавляем плавный переход */
}

.cart-button:hover {
    color: #000000;
    background: #a8cfe0; 
}

.text-price {
    font-size: 0.85rem; /* Размер шрифта по умолчанию для десктопа */
}

@media (max-width: 576px) {
    .text-price {
        font-size: 1.1rem; /* Увеличенный размер шрифта для мобильных устройств */
    }
}

/* Скрыть текст на мобильных устройствах */
@media (max-width: 768px) {
    .button-text {
        display: none;
    }

    /* Обеспечить горизонтальное расположение кнопок */
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Выравнивание по правой стороне */
    }

    /* Удалить любые отступы, чтобы кнопки были вплотную */
    .nav-link-custom {
        margin-right: 0;
        padding: 0 5px; /* Небольшие отступы между кнопками */
    }
}

@media (max-width: 768px) {
    .profile-text {
        display: none;
    }

    .round-button{
        width: 50px; /* Задайте нужную ширину и высоту */
    height: 50px;
    border-radius: 50%; /* Скругляем углы до круга */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Убираем внутренние отступы */
    border: none;
        
    }
}




/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';