/* make the customizations */
$theme-colors: (
    'primary': #94c4d8,
    'info': tomato,
    'danger': #ff961c
);

$navbar-light-color: #000000;
$navbar-light-hover-color: #2a2a2b;
$nav-link-font-size: 1.5rem; 
$nav-link-font-weight: 700; 

$form-select-border-width: 0;
$form-select-border-color: transparent;
$form-select-border-radius: 0;
$form-select-focus-border-color: transparent;
$form-select-focus-width: 0;
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

.blue-bg {
    background-color: #95c2d7;
    color: white;
}

.logo-header {
    width: 30%;
}

@media (max-width: 992px) and (min-width: 769px) {
    .logo-header {
        width: 35%; /* Width for medium screens */
    }
}

@media (max-width: 768px) {
    /* Width for mobile devices */
    .logo-header {
        width: 50%;
    }
}

.logo-footer {
    width: 25%;
}

@media (max-width: 992px) and (min-width: 769px) {
    .logo-footer {
        width: 35%; /* Width for medium screens */
    }
}

@media (max-width: 768px) {
    /* Width for mobile devices */
    .logo-footer {
        width: 50%;
    }
}

.image-container {
    position: relative;
    width: 100%; /* Default container width is 100% */
    overflow: hidden; /* Crop everything that overflows the container */
}

.image-to-crop {
    width: 100%; /* Image stretches to the full width of the container */
    height: auto; /* Height adjusts proportionally to width */
    object-fit: cover; /* Crop the image to width if it's larger than the container */
    object-position: left; /* Crop the image from the right by shifting it left */
}

/* .custom-button {
    display: flex;
    align-items: center;
    background-color: #ff961c;
    color: #000000;
    border-color: #ff961c;
    border-style: none;
    border-radius: 50px;
    padding: 5px 20px; 
    font-size: small;
} */

/* .round-button {
    padding: 5px 10px; 
} */

/* .profile-text {
    margin-left: 4px; 
    font-size: 16px;
} */

/* .custom-button:hover {
    color: #000000;
    background-color: #e78936; 
    border-color: #e78936;
}  */

.custom-caption-bg {
    background-color: rgba(149, 194, 215, 0.596);
    padding: 20px;
    border-radius: 10px;
}

.custom-link {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.card-recipe {
    background-color: #a8a6a6;
}

.card-ingredient {
    background-color: #94c4d8;
}

/* .cart-button {
    background: #FFFFFF;
    color: #000000;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-style: none;
    transition: background 0.3s ease; 
} */

.cart-button:hover {
    color: #000000;
    background: #a8cfe0; 
}

.text-price {
    font-size: 0.85rem; /* Default font size for desktop */
}

@media (max-width: 576px) {
    .text-price {
        font-size: 1.1rem; /* Increased font size for mobile devices */
    }
}

/* Hide text on mobile devices */
@media (max-width: 768px) {
    .button-text {
        display: none;
    }

    /* Ensure horizontal button layout */
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; /* Align to the right */
    }

    /* Remove any margins to make buttons flush */
    .nav-link-custom {
        margin-right: 0;
        padding: 0 5px; /* Small margins between buttons */
    }
}

@media (max-width: 768px) {
    .profile-text {
        display: none;
    }

    .round-button {
        width: 45px; /* Set desired width and height */
        height: 45px;
        border-radius: 50%; /* Round the corners to a circle */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0; /* Remove inner padding */
        border: none;
    }
}

.menu-footer-link {
    font-size: 16px; /* Base size for small screens */
    color: #fff;
    text-decoration: none;
}

.menu-footer-link:hover {
    color: #e4eef1;
}

/* For screens wider than 576px (e.g., tablets) */
@media (min-width: 576px) {
    .menu-footer-link {
        font-size: 18px;
    }
}

/* For screens wider than 768px (e.g., small laptops) */
@media (min-width: 768px) {
    .menu-footer-link {
        font-size: 20px;
    }
}

/* For screens wider than 992px (e.g., desktops) */
@media (min-width: 992px) {
    .menu-footer-link {
        font-size: 22px;
    }
}

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';
