/* make the customizations */
$theme-colors: (
    'primary': #000000,
    'info': tomato,
    'danger': teal
);

$navbar-light-color: #000000;
$navbar-light-hover-color: #5f82eb;
$nav-link-font-size: 1.5rem; 
$nav-link-font-weight: 700; 

$form-select-border-width: 0;
$form-select-border-color: transparent;
$form-select-border-radius: 0;
$form-select-focus-border-color:  transparent;
$form-select-focus-width: 0;
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

.blue-bg {
    background-color: #95c2d7;
    color: white;

}

.logo-header {
    width: 50%;
}

.logo-footer {
    width: 25%;
}


.custom-button {
    background-color: #ff961c;
    border-color: #ff961c;
    border-radius: 50px;
    padding: 5px 20px; 
}

.custom-button:hover {
    background-color: #e78936; /* Цвет при наведении */
    border-color: #e78936;
}

.custom-caption-bg {
    background-color: rgba(149, 194, 215, 0.596);
    padding: 20px;
    border-radius: 10px;
  }

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';