<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add your styles here */
  </style>
</head>
<body>
  <h1>Password Reset Request</h1>
  <p>Hello {{firstName}},</p>
  <p>You recently requested to reset your password. Click the link below to reset it:</p>
  <a href="{{resetUrl}}">Reset Password</a>
  <p>If you didn't request this, please ignore this email.</p>
  <!-- Add security notice and expiration time -->
</body>
</html>