<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add your styles here */
  </style>
</head>
<body>
  <h1>Welcome to Syrnyk, {{firstName}}!</h1>
  <p>Thank you for registering with us. We're excited to have you as our customer!</p>
  <!-- Add more welcome content -->
</body>
</html>